<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/admin/dashboard.css"/>
</head>
<body>
    <div class="dasboard-container">
        <h2>Welcome,Admin</h2>
        <table>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user=>{ %>
                    <tr>
                        <td><%= user.userId %></td>
                        <td><%= user.balance %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>