<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
    <link rel="stylesheet" href="/admin/updatepassword.css"/>
</head>
<body>
    <div class="update-password-container">
        <h2>Update Admin Password</h2>
        <form action="/auth/update" method="post">
            <input type="text" name="username" placeholder="Username" required/>
            <input type="password" name="password" placeholder="New Password" required/>
            <button type="submit">Update</button>
        </form>

        <%if(message){%>
            <p class="message"><%=message%></p>
        <%}%>

        <%if(error){%>
            <p class="error"><%=error%></p>>
        <%}%>

    </div>
</body>
</html>